* {
  margin: 0;
  padding: 0;
}

.container {
  border: 10px solid crimson;
  background-color: rgb(232, 195, 246);
  width: 100%;
  min-height: 100vh;
}
.content {
  max-width: 900px;
  margin: 0 auto;
}
.top_section {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.top_section h1 {
  font-size: 50px;
  font-weight: bold;
  color: rgb(10, 10, 67);
  text-transform: uppercase;
}
.top_section h4 {
  text-align: end;
  font-size: 30px;
}
.image_container,
img {
  width: 300px;
  height: 320px;
  border-radius: 50%;
}
.about_section {
  margin-top: 50px;
}
.about_section h2 {
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 20px;
}
.about_section p {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
}

.biography_section {
  margin: 50px 0;
}

.biography_section h3 {
  font-size: 40px;
  font-weight: 400;
  margin-top: 50px;
  margin-bottom: 20px;
}
.biography_section ul {
  margin-left: 60px;
}
.biography_section li {
  letter-spacing: 1px;
  line-height: 25px;
  margin-bottom: 15px;
}
footer {
  margin: 50px 0;
}
footer p {
  text-align: end;
}
